---
const year = new Date().getFullYear();
---

<footer class="site">
  <div class="wrap">
    <div class="foot-top">
      <div class="foot-mark">
        <b>Ecom<span>.</span>Capital</b>
        <p>Výkonnostné a dátové štúdio. Správa PPC, meranie a dátová infraštruktúra.</p>
      </div>
      <div class="foot-nav">
        <div class="foot-col">
          <h5>Štúdio</h5>
          <a href="/sluzby">Služby</a>
          <a href="/data">Dáta &amp; BigQuery</a>
          <a href="/cookie-consent">Cookie lišta &amp; consent</a>
          <a href="/kalkulacka">Kalkulačka</a>
          <a href="/proces">Proces</a>
          <a href="/o-mne">O mne</a>
          <a href="/blog">Blog</a>
        </div>
        <div class="foot-col">
          <h5>Kontakt</h5>
          <a href="/kontakt">Konzultácia</a>
          <a href="mailto:peter@ecomcapital.sk">peter@ecomcapital.sk</a>
        </div>
      </div>
    </div>
    <div class="foot-bottom">
      <div>© {year} Ecom Capital · Bratislava, SK</div>
      <div>IČO: 00 000 000 · Všetky práva vyhradené</div>
    </div>
  </div>
</footer>
